.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
  
    background-size: cover;
  }
  .img-wrp{
    width: 200;
    height: 150;
}
.allr{
  background-color: rgb(244,139, 49);
  width:40%;
  margin-top: 3%;

}