
.addR{
    border-radius: 6%;
   background-color: #f0f0f0; 
    width:50%  ;
    position: absolute;
    top :15vh;
    right: 25vw;
font-size: 130%;
}
h1{
    position: relative;
    right: -6%;
    font-size: 170%;
    margin-top:3%;
    margin-bottom:3%;
    text-align: center;
}
.name{
    border-right: rgb(231, 231, 231);
    border-left: rgb(231, 231, 231);
    border-top: rgb(231, 231, 231);
    // border-bottom: black;
    background-color: rgb(231, 231, 231);
    height: 30%;
}
h2{
    margin: 5%;
    font-size: 150%;
}

input{
  
display: block;
margin: 1%;
   background-color: #f0f0f0;  
   width: 80%;
   
   border:solid 1px black;
  
}
.logo{
position: absolute;
   top: 100px;
right: 40px;
}
.line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#nameR{
    width: 40%;
    left: 60vw;
}

.sucss{
    // font-size: 300%;
    border-radius: 6%;
    text-align: center;
    position: absolute;
    width: 30%;
    height: 22%;
    background-color: rgb(199, 199, 199);
    top:42%;
    right: 35%;
}
.erorr{
    
    // font-size: 300%;
    border-radius: 6%;
    text-align: center;
    position: absolute;
    width: 20%;
    height: 15%;
    background-color: rgb(211, 211, 211);
    top:42%;
    right: 40%;
    text-align: center;
}

p{
    
font-size:200%;
color: rgb(107,160, 245);
cursor: pointer;
margin: 10%;
}
.allr{
    background-color: rgb(244,139, 49);
    width:6vw;
    margin-top: 3%;

  }
